[submodule "chemutils"]
	path = external/chemutils
	url = git@gitlab.lrz.de:mfm/science/chemutils.git
[submodule "chemtrain"]
	path = external/chemtrain
	url = git@github.com:tummfm/chemtrain-dev.git
	branch = LAMMPS
